* {
  box-sizing:border-box;
}

.circle {
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
  border-radius: 100%;
  display: inline-block;
  background-color: red;
}

.label {
  color: white;
  text-align: center;
  margin-top: 5px;
  font-family: arial;
}
